# Prerequisites
*.d

# Dstore
.DS_Store

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/assignment_3/pipesort/pp_buffersize.png
/assignment_3/pipesort/pp_longest_seq.png
/assignment_3/pipesort/res_longest_seq.csv
/assignment_3/pipesort/test.o
/assignment_3/pipesort/test.png
/assignment_3/pipesort/test.py
/assignment_3/pipesort/test_14.csv
/assignment_3/pipesort/data/res_longest_seq_find.csv
/assignment_3/pipesort/data/test.csv
/assignment_3/pipesort/data/res_longest_seq_14.csv
/assignment_3/pipesort/data/res_buffersize_14_1000.csv
/assignment_3/pipesort/data/only_100_15.csv
